{{ define "home.html" }}
  <section class="posts">
    {{ range . }}
      <article class="post-summary">
        <h2>
          <a href="/post/{{ .Filename }}">{{ .Title }}</a>
        </h2>
        <p class="post-meta">
          {{ formatDatePT .Date }} por @{{ .Author }}
        </p>
        <div class="post-excerpt">
          {{ truncate 300 .HTML | safeHTML }}
        </div>
        <p>
          <a href="/post/{{ .Filename }}" class="read-more">Continuar lendo →</a>
        </p>
      </article>
    {{ else }}
      <p>Nenhum post encontrado.</p>
    {{ end }}
  </section>
{{ end }}